rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow writes to the complaints folder for anyone
    match /complaints/{issueId}/{fileName} {
      allow write: if true;
    }

    // Allow public read access to all files
    match /{allPaths=**} {
      allow read: if true;
    }
  }
}
